* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tomorrow";
}

body {
  display: flex;
  flex-flow: row wrap;
  gap: 75px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  background-color: #fc4c02;
  color: white;
  font-style: italic;
  border-bottom: 10px solid #363636;
  width: 100%;

  h1 {
    font-size: 64px;
  }

  h3 {
    font-size: 20px;
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 25px;

      li {
        a {
          text-decoration: none;
          color: white;
          font-size: 20px;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#teste {
  opacity: 0.8;
}

main {
  width: 100%;
  margin: 0 120px;

  .secao-ajuste {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
  }

  .card-form {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }

  .card-form h3 {
    margin: 0 0 10px 0;
    font-size: 24px;
    width: 100%;
  }

  #campos-de-entrada {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 100%;
  }

  .campo-entrada {
    margin-bottom: 15px;
  }
  

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input,
  select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .botao-adicionar {
    background: #fc4c02;
    color: white;
    max-width: 600px;
    min-width: 400px;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: none;
  }

  .botao-adicionar:hover {
    background: #383838;
  }

  

  section {
    margin-bottom: 75px;
    display: flex;
    flex-flow: row wrap;
    gap: 50px;

    h2 {
      width: 100%;
      color: #000000;
      font-style: italic;
      font-size: 44px;

      span {
        color: #fc4c02;
      }
    }

    #cards {
      display: flex;
      gap: 100px;

      #card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 25px;
        background-color: #ffffff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 35px 35px 25px 35px;

        #paragrafos {
          display: flex;
          flex-flow: column nowrap;
          gap: 5px;
          width: 100%;
        }

        button {
          width: 265px;
          height: 50px;
          background-color: #fc4c02;
          font-size: 16px;
          font-weight: 600;
          color: #ffffff;
          font-size: 15px;
          border: none;
          border-radius: 8px;
        }

        p {
          width: 100%;
          font-size: 16px;
          font-weight: 600;
          color: #ffffff;
        }

        #preto {
          color: #000000;
        }

        #laranja {
          color: #fc4c02;
        }
      }
    }
  }
}

#resultados {
  width: 100%;
}

.card-resumo-orcamento {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 20px;
    width: 100%;
  }


  .card-resumo {
    background: #fc4c02;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    span {
      font-size: 20px;
      font-weight: 500;
    }

    strong {
      font-weight: 500;
    }
  }

  .tabela-orcamento {
    background: #fc4c02;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    min-height: 200px;
    width: 100%;


    h4 {
      font-size: 20px;
      font-weight: 600;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
  }
  table h4 {
    margin-bottom: 10px;
    color: black;
  }
  th,
  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }

  th {
    color: white;
    text-align: left;
    border-bottom: 2px solid white;
    padding: 10px 10px 10px 0px;
    font-size: 16px;
    font-weight: 500;
  }

html {
  scroll-behavior: smooth;
}
