* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tomorrow";
}

body {
  display: flex;
  flex-flow: row wrap;
  gap: 75px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  background-color: #fc4c02;
  color: white;
  font-style: italic;
  border-bottom: 10px solid #363636;
  width: 100%;

  h1 {
    font-size: 64px;
  }

  h3 {
    font-size: 20px;
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 25px;

      li {
        a {
          text-decoration: none;
          color: white;
          font-size: 20px;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

main {
  width: 100%;
  margin: 0 120px;

  section {
    margin-bottom: 75px;
    display: flex;
    flex-flow: row wrap;
    gap: 50px;

    h2 {
      width: 100%;
      color: #000000;
      font-style: italic;
      font-size: 44px;

      span {
        color: #fc4c02;
      }
    }

    #cards {
      display: flex;
      gap: 100px;

      #card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 25px;
        background-color: #ffffff;
        border: 2px solid #000000;
        padding: 35px 35px 25px 35px;

        #paragrafos {
          display: flex;
          flex-flow: column nowrap;
          gap: 5px;
          width: 100%;
        }

        button {
          width: 265px;
          height: 50px;
          background-color: #fc4c02;
          font-size: 16px;
          font-weight: 600;
          color: #ffffff;
          font-size: 15px;
          border: none;
          border-radius: 8px;
        }

        p {
          width: 100%;
          font-size: 16px;
          font-weight: 600;
          color: #ffffff;
        }

        #preto {
          color: #000000;
        }

        #laranja {
          color: #fc4c02;
        }
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}
