:root {
  --branco: #ffffff;
  --preto: #000000;
  --laranja: #fc4c02;
  --cinza-escuro: #363636;
  --cinza-tabela: #dddddd
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tomorrow";
}

body {
  display: flex;
  flex-flow: row wrap;
  gap: 75px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190px;
  background-color: var(--laranja);
  color: var(--branco);
  font-style: italic;
  border-bottom: 10px solid var(--cinza-escuro);
  width: 100%;

  h1 {
    font-size: 64px;
  }

  h3 {
    font-size: 20px;
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 25px;

      li {
        a {
          text-decoration: none;
          color: var(--branco);
          font-size: 24px;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  #tema {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: var(--cinza-escuro);
    border-radius: 12px;
    cursor: pointer;
    
    img {
      width: 50px;
      height: 50px;
    }
  }
}

#banner-de-romerito {
  position: relative;
  background-color: var(--cinza-escuro);
  border-radius: 63px;
  margin: 75px 165px;

  #romerito {
    width: 1590px;
    height: 752px;
    opacity: 0.3;
  }

  h2 {
    position: absolute;
    bottom: 135px;   
    left: 60px;   
    width: 820px;
    font-size: 48px;
    font-weight: 600;
    font-style: italic;
    color: var(--branco);

    span {
      color: var(--laranja);
    }
  }
}
main {
  width: 100%;
  margin: 0 120px;

  .secao-ajuste {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
  }

  .card-form {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: var(--branco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }

  .card-form h3 {
    margin: 0 0 10px 0;
    font-size: 24px;
    width: 100%;
  }

  #campos-de-entrada {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 100%;
  }

  .campo-entrada {
    margin-bottom: 15px;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input,
  select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--cinza-tabela);
    border-radius: 4px;
    box-sizing: border-box;
  }

  .botao-adicionar {
    background: var(--laranja);
    color: var(--branco);
    max-width: 600px;
    min-width: 400px;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: none;
  }

  .botao-adicionar:hover {
    background: var(--cinza-escuro);
  }

  section {
    margin-bottom: 75px;
    display: flex;
    flex-flow: row wrap;
    gap: 50px;

    h2 {
      width: 100%;
      color: var(--preto);
      font-style: italic;
      font-size: 44px;

      span {
        color: var(--laranja);
      }
    }

    #cards {
      display: flex;
      gap: 100px;

      #card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 25px;
        background-color: var(--branco);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 35px 35px 25px 35px;

        #paragrafos {
          display: flex;
          flex-flow: column nowrap;
          gap: 5px;
          width: 100%;
        }

        button {
          width: 265px;
          height: 50px;
          background-color: var(--laranja);
          font-size: 16px;
          font-weight: 600;
          color: var(--branco);
          font-size: 15px;
          border: none;
          border-radius: 8px;
        }

        p {
          width: 100%;
          font-size: 16px;
          font-weight: 600;
          color: var(--branco);
        }

        #preto {
          color: var(--preto);
        }

        #laranja {
          color: var(--laranja);
        }
      }
    }
  }
}

#resultados {
  width: 100%;
}

.card-resumo-orcamento {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.card-resumo {
  background: var(--laranja);
  color: var(--branco);
  padding: 15px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  span {
    font-size: 20px;
    font-weight: 500;
  }

  strong {
    font-weight: 500;
  }
}

.tabela-orcamento {
  background: var(--laranja);
  color: var(--branco);
  padding: 20px;
  border-radius: 8px;
  min-height: 200px;
  width: 100%;

  h4 {
    font-size: 20px;
    font-weight: 600;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}
table h4 {
  margin-bottom: 10px;
  color: var(--preto);
}
th,
td {
  padding: 12px;
  border-bottom: 1px solid var(--cinza-tabela);
}

th {
  color: var(--branco);
  text-align: left;
  border-bottom: 2px solid var(--branco);
  padding: 10px 10px 10px 0px;
  font-size: 16px;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}